<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    about!
    <a href="/">Index</a>
    <a href="about">About</a>
    <a href="contact">Contact</a>
  </body>
</html>
