<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quote</title>
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>
    <div class="favorite-container">
      <div class="favorite">
        <h1>"There is nothing to writing. All you do is sit down at a typewriter and bleed." <br>- Ernest Hemingway</h1>
      </div>
    </div>
  </body>
</html>
