<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie</title>
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>
    <div class="favorite-container">
      <div class="favorite">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/04/The_Place_Beyond_the_Pines_Poster.jpg" alt="movie poster">
      </div>
    </div>
  </body>
</html>
