<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vacation</title>
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>
    <div class="favorite-container">
      <div class="favorite">
        <img src="http://www.lebanonembassyus.org/images/slide-8.jpg" alt="lebanon">
      </div>
    </div>
  </body>
</html>
